.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 20px;
	min-height: var(--header-height);
	padding-inline: 32px;
	background-color: var(--color-dark-alternate);
}

.header-logo {
	flex-shrink: 0;
}

.header-menu-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 50px;
}

.header-menu-link {
	display: inline-flex;
	align-items: center;
	height: var(--header-height);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 1.2px;
	column-gap: 7px;
}

.header-menu-link.is-current::after {
	content: '';
	width: 5px;
	aspect-ratio: 1;
	background-color: currentColor;
	border-radius: 50%;
}

.header-actions {
	display: flex;
	column-gap: 40px;
}

.header-burger-button {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 4px;
	width: 40px;
	aspect-ratio: 1;
	padding-left: 8px;
	color: var(--color-light);
	background-color: transparent;
	border: var(--border);
	border-radius: 50%;
}

.header-burger-button:hover {
	color: var(--color-light-gray);
	border-color: currentColor;
}

.header-burger-button-line {
	width: 6px;
	height: 1px;
	background-color: currentColor;
	box-shadow: 16px 0 0 currentColor;
}
